.gird-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 300px;
}
header{
   height: 200%;
   background-color: white;
  
  color: rgb(107, 7, 107);
 
}
.gird-1item{
    margin: 10px;
    font-weight: bold;
    font-family: 'roboto' sans-serif;
}
.gird-2item{
    display: flex;
    margin: 40px ;
    gap: 20px;
    align-items: center;
}
.ui{
    display: flex;
  align-items: center;
  gap: 20px;
  color: black;
  text-decoration: none;
}
.search {
  margin-left: 20px;
  margin-right: 20px;
  width: 95%;
  padding: 10px;
  background-color: white;
  text-decoration-color: gray;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 16px;
}
ul{
   list-style-type: none;
    background-color:white;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: x-large;
    text-align-last: justify;
    
}
a{
    text-decoration-line: none;
    color: black;
}
a:hover{
   text-decoration-line:underline ;
   color:rgb(107, 7, 107); ;
}
li{
        display: inline-flex;
         padding: 20px;

}
.gird-2container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    background-color:white;
    margin:10px;
    margin-right: 15px;
}  
.item1{
    border: 0px solid black;
    margin-left: 90px;
     margin: 10px;
     text-align: center;
     font-size: large;
    }
    .item2{
  border: 0px solid black;
  margin: 10px;
     text-align: center;
     font-size: large;
    }
    .item3{
  border: 0px solid black;
     margin: 10px;
    text-align: center;
     font-size: large; 
    }
    .item4{
  border: 0px solid black;
  margin: 10px;
  text-align: center;
     font-size: large;
    }
    .item5{
  border: 0px solid black;
   margin: 10px;
     text-align: center;
     font-size: large;
}
.item6{
  border: 0px solid black;
  margin: 10px;
   text-align: center;
     font-size: large;
}
.gird-3container{
  display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 10px;
    margin-left:10px;
    margin-right: 20px;
    width: 900px;
    align-items: center;
}
