header{
    background-color: #8e2de2;
}
.gird-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.item{
    font-size: xx-large;
    color: white;
    padding: 50px;
    margin-left: 90px;
}
ul{
    list-style-type: none;

    }
a{
    text-decoration-line: none;
    color:white;
    }
 a:hover{
    color: blue;
 }
li{
        display: inline-block;
         padding: 20px;
}
.item1{
    padding: 50px;
    font-size: large;
    margin-left: 70px;
}
.gird-2container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
}
.gird-1item{
    margin-left: 70px;
 color: white;
    padding-left: 90px;
    font-size:xx-large;
    font-style: bold;
}
.ss{
 padding-left: 10px;
    font-size:xx-large;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-style: bold;
}
.we{
    font-size:xx-large;
    background-color: #913ddb;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border-color: white;
}
.gird-1container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    background-color: white;
    margin: 30px;
    padding: 30px;

}
.one{
    margin-left: 100px;
    text-align: justify;
    margin-top: 50px;
    border: 0px soild white;
    background-color:white;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}
.two{
    text-align: justify;
    margin-top: 50px ;
    border: 0px solid white;
    background-color: white;
    margin-left: 50px;
    width: 300px;
    height: 350px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
    margin-left: 5px;
}
h1{
    text-align: center;
}
.three{
    margin-right: 20px;
     text-align: justify;
    margin-top: 50px ;
    border: 0px solid white;
    background-color: white;
    width: 300px;
    height: 350px;
    font-family: Arial, Helvetica, sans-serif;
     }
     .gird-3container{
        display: grid;
        background-color: aliceblue;
     }
    .item8 img{
        margin-left:700px;
        border-radius: 100%;
        }
  .toy{
    font-size: 20px;
  }  
ul{
    list-style-type: none;
 gap: 20px;

    }
image{
    text-decoration-line: none;
    color:white;
    }
 
li{
        display: inline-block;
         padding: 20px;
         gap: 60px;
}  
    
   
    








